.majorcard {
  cursor: pointer;
  position: relative;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: center;
  justify-content: center;
  padding: 0 0 1.75rem;
  border-radius: 8px;
  transition: background-color 300ms;
}

.majorcard:hover {
  background-color: var(--card-hover-color);
}

.blue-border,
.red-border,
.orange-gradient-border {
  height: 0.25rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.blue-border {
  background-color: var(--blue-border);
}

.red-border {
  background-color: var(--red-border);
}

.orange-gradient-border {
    background: linear-gradient(
        90deg,
        var(--colorful-border-1) 0%,
        var(--colorful-border-2) 50%,
        var(--colorful-border-3) 100%
    );
}

.majorcard + .majorcard {
    margin-top: 1.5rem;
}

.username_section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.username_section p {
    color: var(---font-color-2);
    font-size: 0.75rem;
    font-weight: bold;
}

.username_section img {
    height: 1.25rem;
    width: 1.25rem;
}

.followers_section h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

.followers_section p {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.75rem;
    color: var(---font-color-2);
}

.up, .down {
    display: flex;
    align-items: center;
}

.up img {
    margin-right: 0.25rem;
}

.up span {
    color: var(--up-color);
    font-size: 0.75rem;
    font-weight: bold;
}

.down > img {
    margin-right: 0.25rem;
    transform: rotate(180deg);
    filter: invert(202%) sepia(0%) saturate(134%)
        hue-rotate(390deg) brightness(80%) contrast(120%);
}

.down span {
    color: var(--down-color);
    font-size: 0.75rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .majorcard + .majorcard {
        margin-top: 0;
    }
}
