.theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.theme p {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--font-color-2);
}

.switch {
    position: relative;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,
        var(--theme-colorful-1),
        var(--theme-colorful-2)
    );
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: var(--theme-cursor-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-image: none;
    background-color: var(--theme-checked-color);
}

input:checked + .slider:before {
    background-color: var(--theme-checked-color-2);
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

@media (min-width: 1440px) {
  .theme {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}
}
